.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.nav-link {
  font-size: 40px; /* Adjust as needed */
  margin-right: 15px; /* Adjust as needed */
}

.navbar {
  margin: 10px; /* Adjust as needed */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
