.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.nav-link {
  font-size: 30px !important;/* Adjust as needed */
  margin-right: 15px !important;/* Adjust as needed */
  border-radius: 15px;
}
.nav-link:hover {
  background-color: green !important;
}

.navbar {
  background-color: aquamarine;
  border-radius: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardStyle {
  font-size: xx-large !important;
  width: 25rem !important;
  height: 20rem !important;
  margin: 20px !important;
  margin-top: 50px !important;
  background-color: rgb(186, 138, 49) !important;
  border-radius: 30px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
  transition: background-color 0.5s ease !important  /* Add transition for smooth color change */
}

.cardStyle:hover {
  background-color: lightgray !important; /* Change color on hover */
}

.heading{
  margin: 40px;
}
