html {
  height: 100% !important;
  background: linear-gradient(to bottom right, rgb(74, 13, 83), rgb(255, 230, 5)) no-repeat !important;   
  background-size: cover !important;   
}

body {
  height: 100% !important;
  margin: 0 !important;
  background: transparent !important;
}
